/* Pagination bullets */
.custom-swiper .swiper-pagination-bullet {
    font-size: 6px; /* Set your desired font size */
    width: 6px; /* Adjust width for larger/smaller dots */
    height: 6px; /* Adjust height for larger/smaller dots */
    background-color: red; /* Change the color of the dots */
  }
  
  /* Pagination active bullet */
  .custom-swiper .swiper-pagination-bullet-active {
    
    background-color: yellow; /* Change the color of the active dot */
  }
  .custom-swiper2 .swiper-pagination-bullet-active {
    padding: 5px;
    height: 10px;
    width: 10px;
    background-color: yellow; /* Change the color of the active dot */
  }
  
  /* Navigation arrows */
  .swiper-button-prev::after,
  .swiper-button-next::after {
    
    font-size: 6px; /* Set your desired font size for the arrow icons */
    color: #fff; /* White color for the arrow icons */
  }
  
/* Ensure the navigation arrows are visible and properly styled */
.swiper-button-prev,
.swiper-button-next {
  padding: 2px; /* Reduced padding */
  background-color: rgba(0, 0, 0, 0.5); /* Optional background */
  display: flex;
  margin: -10px; /* Adjusted margin */
  height: 10px; /* Reduced height */
  width: 10px; /* Reduced width */
  font-size: 10px; /* Smaller font size */
  border-radius: 50%; /* Maintain circular shape */
  align-items: center;
  justify-content: center;
}

  